
footer{
 position: absolute;
 width:100%;
 top:100%;
 margin-top: 130px;
}

.footer-wrap{
    background-color: #75758A;
    border: none;
    width:100%;
}

.subscribe{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    align-items: center;
    border: none;
    justify-content: space-between;
   
}

.subscribe p{
   min-width: 150px;
   width:15%;
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: aliceblue;
margin-bottom: 10px;

}

.subscr-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background-color: white;
    
}

.subscr-input input{
    width: 95%;
    min-width:100px;
    padding: 10px;
    border: none;
}

.subscr-input label{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
color: white;
    background-color: #4F9C2C;
    align-items: center;
    padding: 12px 15px;
}

.ul-main-container{
    display: flex;
    margin-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ul-main-container>li{
    width: 20%;
    min-width: 200px;
    margin-bottom: 20px;
}

.li-main{
    font-weight: 700;
    margin-bottom: 10px;
}

.text-li{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 26px;


color: #75758A;
width: 70%;
}












@media screen and (max-width:1080px) {
    .subscr-input label{
        font-size: 1rem;
    }

}





@media screen and (max-width:550px) {
    .subscr-input label{
        font-size: 3vw;
    }

}